[user]
  name = suiyujin
  email = suiyujin04@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /Users/ippei/.gitignore
  editor = /usr/local/bin/vim
[alias]
  st = status -uall
  ad = add
  adp = add -p
  ch = checkout
  chb = checkout -b
  cm = commit -m
  ps = push
  pso = push origin
  psom = push origin master
  pl = pull
  plo = pull origin
  plom = pull origin master
  br = branch
  brd = branch -d
  di = diff
  dica = diff --cached
  dihe = diff HEAD
  lo = log
  logr = log --graph --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow reverse)%h%Creset %C(cyan)%an%Creset %C(green)[%ad]%Creset%C(red bold)%d%Creset%n%C(white bold)%s%Creset%n'
  loon = log --oneline
  resh1 = reset --soft HEAD^
