[user]
  name = suiyujin
  email = suiyujin04@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /Users/ippei/.gitignore
  editor = /usr/local/bin/vim
[alias]
  st = status -uall
  ad = add
  adp = add -p
  ch = checkout
  chb = checkout -b
  cm = commit -m
  cma = commit --amend
  ps = push
  pso = push origin
  psod = push origin develop
  psom = push origin master
  fe = fetch
  feo = fetch origin
  me = merge
  meod = merge origin/develop
  meom = merge origin/master
  pl = pull
  plo = pull origin
  plom = pull origin master
  br = branch
  brd = branch -d
  di = diff
  dica = diff --cached
  dihe = diff HEAD
  lo = log
  logr = log --graph --all --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow reverse)%h%Creset %C(cyan)%an%Creset %C(green)[%ad]%Creset%C(red bold)%d%Creset%n%C(white bold)%s%Creset%n'
  logrs = log --graph --all --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow reverse)%h%Creset %C(cyan)%an%Creset %C(green)[%ad]%Creset%C(red bold)%d%Creset%n%C(white bold)%s%Creset%n' --stat
  loon = log --oneline
  resh1 = reset --soft HEAD^
  ffs = flow feature start
  fff = flow feature finish
  frs = flow release start
  frf = flow release finish
  fhs = flow hotfix start
  fhf = flow hotfix finish
  ignore = !"f() { local s=$1; shift; \
           while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
           curl \"https://www.gitignore.io/api/$s\"; }; f"
